{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<nav class="navbar navbar-expand-lg bg-light navbar-dark fixed-top">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand text-primary">
            Blog Sayfası
        </a>
        <!--  -->
        <form class="offset-lg-1" role="search" method="GET" action="" autocomplete="off">
            {% csrf_token %}
            <input type="text" class="offset-md-1" name="q" id="search" placeholder="Arama Yap.." value="{{ request.GET.q }}">         
        </form>
        <button type="button" class="navbar-toggler text-primary" data-toggle="collapse" data-target="#navbarCollapse">
            <span><i class="fas fa-bars"></i></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse ">
            <ul class="navbar-nav expand-md ml-auto">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link text-primary">
                        Ana Sayfa
                    </a>
                </li>
              
                {% if request.user.is_authenticated%} <!-- giriş yaptıysa -->
                    <li class="nav-item">
                        <a href="{% url 'create' %}" class="nav-link text-primary">
                            Yazı Ekle
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link text-primary">
                        Çıkış Yap
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link text-primary">
                        Giriş Yap
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link text-primary">
                        Üye Ol
                        </a>
                    </li>
                {% endif %}
            </ul>
    </div>
</div>
</nav>
