{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title%}Post Güncelle{% endblock %}

{% block body %}
<!-- card -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Güncelle</h3>
                {{ form|crispy}}
                {{ form.text | safe }}
                {{ form.media }}
                <input class="btn btn-warning" type="submit" value="Güncelle">
            </form>
        </div>
    </div>
</div>

{% endblock %}